@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: 'Inter', system-ui, -apple-system, sans-serif;
  }
  
  body {
    @apply bg-white text-slate-900 antialiased;
    margin: 0;
    min-height: 100vh;
  }

  /* Hide Browser Default Password Reveal Buttons */
  input::-ms-reveal,
  input::-ms-clear {
    display: none;
  }

  input::-webkit-contacts-auto-fill-button,
  input::-webkit-credentials-auto-fill-button {
    visibility: hidden;
    display: none !important;
    pointer-events: none;
    position: absolute;
    right: 0;
  }
}

/* Custom Scrollbar for a premium feel */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-slate-50;
}

::-webkit-scrollbar-thumb {
  @apply bg-slate-200 rounded-full hover:bg-slate-300 transition-colors;
}
